@import "friendslist.css"; 
@import "sideprofile.css"; 
@import "posts.css"; 
@import "profilepage.css"; 
@import "addphoto.css"; 

.news__list{
    display:grid;
    list-style: none;
    grid-template-columns: repeat(3,1fr);
    justify-content: center;
    /* grid-gap: 10%; */
    overflow:hidden;
    border-bottom: 10px;
}

.news__item{
    /* margin-bottom: 70px; */
    margin-right:20px;
    margin-bottom: 20px;

}
.news__itemimg{
    /* border-right: 5px;
    border-left:10px; */
    width: 200px;
    height: 200px;
}


.news__list li{
    border: 1px solid rgb(201, 201, 201);
    border-radius: 8px;
    box-shadow: 3.5px 3.5px 5px 1px rgb(211,211,211);
    padding:4%;
}

body {
    padding-top: 5rem;
    background-color: black;
    position:relative;
    color:rgb(180, 169, 14);

}
.logoimg{
    width:50px;
    height:40px;
}
.column {
    float: left;
    padding: 10px;
  }
  
  /* .left {
    width: 25%;
    position: left;
  }
  
  .right {
    width: 65%;
    margin-left: 490px;
    position:right;
  }
  
  /* Clear floats after the columns */
  /* .row:after {
    content: "";
    display: table;
    clear: both;
  }  */



  .row{
    display:grid;
    grid-gap: 50px;
    list-style: none;
    grid-template-columns: 400px 1200px;
    
    
  }
.user-card-lay{
    display:grid;
    grid-gap: 50px;
    list-style: none;
    grid-template-columns: 0fr 1fr;
    position:relative;

}
.user-images{
    width:280px;
    height:230px;
    position:relative;

}



#col3{
    position:relative;
    text-align: center;
    margin-top: 70px;


}
#col2{
    margin-top: 8%;
    position:relative;

}

#col2 li{
    margin-bottom: 1em;
    position:relative;

}

.card-body li{
    margin-bottom: 1em;
    position:relative;

}



  .smallimg{
    width:55px;
    height:50px;
    position:relative;

  }

  

  
.text{
    margin-left:10%;
    position:relative;

}
.profile{
    /* margin:5%; */
    position:relative;

}
  

.cardbod{
    margin-bottom:5%;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-top: 6px solid rgb(72,141,218);
    border-radius: 0.5rem;
    background-color: white;

    list-style: none;


  }
  

  .margindiv{
      margin:2%;
      position:relative;

      
  }
  .greenbtn {
    color: #fff;
    background-color: rgb(128,211,57);
    border-color: rgb(128,211,57);
    position:relative;

  }
  .ubtn{
      margin-left: 2em;
      width:40%;
      padding: 7px;
      border-radius: 10px;
      position:relative;


  }
  .lbtxt{
    display: flex;
    flex-direction: column;
    position:relative;

    
}

.txtbox{
    width: 60%;
    border-radius: 5px;
    position:relative;

}

.formdiv{
    margin-left:5%;
    position:relative;


}
.formdiv h1{
    margin-bottom:3%;
    position:relative;

}
.formf{
    /* border-top: 6px solid rgb(72,141,218); */

    background-color: rgb(69, 70, 71);
    background-clip: border-box;
    /* just to show box-shadow still works fine */
    box-shadow: 0 5px 10px rgb(238, 214, 3), inset 0 0 9px white;
    border-radius: 5px;
    position:relative;


}

.formdiv div{
    /* margin-top:10px; */
    margin-bottom:25px;
    margin-left:40px;
    font-size: large;
    position:relative;

}
.bold{
    font-weight: 500;
}

.textareabx
{
    width: 60%;
    border-radius: 5px;
    min-height: 50%;
    max-height: 50%;
    position:relative;

}


.home{
    margin-top: 20%;
  
text-align: center;
border-top:5px solid red;
border-bottom:5px solid red;
border-radius: 20px;
position:relative;


}
.home h1{
    align-items: center;
    align-content: center;
    /* margin-left:10%; */
        font-size: 90px;
        position:relative;



}
.home h2{
    /* margin-left:45%; */

}

#profiles{
    margin-left:5%;
    /* margin-right:10%; */
}

#mainContainer{
    display: flex;
    justify-content: center;
    align-items: center;
}

#loginContainer{
    width: 400px;

}

#loginImageDiv {
    display: flex;
    justify-content: center;
    align-items: center;
}

#logoimg {
    width: 200px;
    height: auto;
}

#signupForm {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding-top: 20px;
    padding-right: 40px;
}

.span-col {
    grid-column-start: 1;
    grid-column-end: 2;
}