@import "friendslist.css"; 
@import "sideprofile.css"; 
@import "posts.css"; 
@import "profilepage.css"; 
@import "addphoto.css"; 


.sizing{
    width: 90%;
    height:2000%;
}
.blue{
    color: black;
    /* background-color: rgb(64, 61, 238); */
    box-shadow: 0 5px 10px rgb(64, 61, 238), inset 0 0 9px rgb(64, 61, 238);
}
.white{
    color: black;
    background-color: white;
}
#accountsettings{
    width: 35px;
    height: 30px;
    border-radius: 20px;
}
.news__list{
    display:grid;
    list-style: none;
    grid-template-columns: repeat(3,1fr);
    justify-content: center;
    /* grid-gap: 10%; */
    overflow:hidden;
    border-bottom: 10px;
}

.news__item{
    /* margin-bottom: 70px; */
    margin-right:20px;
    margin-bottom: 20px;

}
.news__itemimg{
    /* border-right: 5px;
    border-left:10px; */
    width: 200px;
    height: 200px;
}


.news__list li{
    border: 1px solid rgb(201, 201, 201);
    border-radius: 8px;
    box-shadow: 3.5px 3.5px 5px 1px rgb(211,211,211);
    padding:4%;
}

body {
    padding-top: 5rem;
    background-color: black;
    position:relative;
    color:rgb(180, 169, 14);

}
.logoimg{
    width:50px;
    height:40px;
}
.column {
    float: left;
    padding: 10px;
  }
  
  /* .left {
    width: 25%;
    position: left;
  }
  
  .right {
    width: 65%;
    margin-left: 490px;
    position:right;
  }
  
  /* Clear floats after the columns */
  /* .row:after {
    content: "";
    display: table;
    clear: both;
  }  */



  .row{
    display:grid;
    grid-gap: 50px;
    list-style: none;
    grid-template-columns: 400px 80%;
    /* grid-template-columns: 400px 1200px; */

    
  }
.user-card-lay{
    display:grid;
    grid-gap: 50px;
    list-style: none;
    grid-template-columns: 0fr 1fr;
    position:relative;

}
.user-images{
    width:280px;
    height:230px;
    position:relative;

}



#col3{
    position:relative;
    text-align: center;
    margin-top: 70px;


}
#col2{
    margin-top: 8%;
    position:relative;

}

#col2 li{
    margin-bottom: 1em;
    position:relative;

}

.card-body li{
    margin-bottom: 1em;
    position:relative;

}



  .smallimg{
    width:40px;
    height:30px;
    position:relative;
    margin-bottom: 10px;

  }

  

  
.text{
    margin-left:10%;
    position:relative;

}
.profile{
    /* margin:5%; */
    position:relative;

}
  

.cardbod{
    margin-bottom:5%;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-top: 6px solid rgb(72,141,218);
    border-radius: 0.5rem;
    background-color: white;

    list-style: none;


  }
  

  .margindiv{
      margin:2%;
      position:relative;

      
  }
  .greenbtn {
    color: #fff;
    background-color: rgb(128,211,57);
    border-color: rgb(128,211,57);
    position:relative;

  }
  .ubtn{
      margin-left: 2em;
      width:40%;
      padding: 7px;
      border-radius: 10px;
      position:relative;


  }
  .lbtxt{
    display: flex;
    flex-direction: column;
    position:relative;

    
}

.txtbox{
    width: 60%;
    border-radius: 5px;
    position:relative;

}

.formdiv{
    margin-left:5%;
    position:relative;


}
.formdiv h1{
    margin-bottom:3%;
    position:relative;

}
.formf{
    /* border-top: 6px solid rgb(72,141,218); */

    background-color: rgb(69, 70, 71);
    background-clip: border-box;
    /* just to show box-shadow still works fine */
    box-shadow: 0 5px 10px rgb(238, 214, 3), inset 0 0 9px white;
    border-radius: 5px;
    position:relative;


}

.formdiv div{
    /* margin-top:10px; */
    margin-bottom:25px;
    margin-left:40px;
    font-size: large;
    position:relative;

}
.bold{
    font-weight: 500;
}

.textareabx
{
    width: 60%;
    border-radius: 5px;
    min-height: 50%;
    max-height: 50%;
    position:relative;

}


.home{
    margin-top: 20%;
  
text-align: center;
border-top:5px solid red;
border-bottom:5px solid red;
border-radius: 20px;
position:relative;


}
.home h1{
    align-items: center;
    align-content: center;
    /* margin-left:10%; */
        font-size: 90px;
        position:relative;



}
.home h2{
    /* margin-left:45%; */

}

#profiles{
    margin-left:5%;
    /* margin-right:10%; */
}

#mainContainer{
    display: flex;
    justify-content: center;
    align-items: center;
}

#loginContainer{
    width: 400px;

}

#loginImageDiv {
    display: flex;
    justify-content: center;
    align-items: center;
}

#logoimg {
    width: 200px;
    height: auto;
}

#signupForm {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding-top: 20px;
    padding-right: 40px;
}

.span-col {
    grid-column-start: 1;
    grid-column-end: 2;
}

.groupbtns {
    text-align: center;
    width: 20%;
    position: relative;
    border: 3px solid transparent;
    border-radius: 16px;
    background: linear-gradient(34deg, rgb(111, 111, 136) 8%, rgb(48, 48, 80) 38%, rgb(33, 54, 58) 78%, rgb(129, 61, 61) 100%);
    background-clip: content-box;
    /* just to show box-shadow still works fine */
    box-shadow: 0 3px 9px rgb(139, 82, 125), inset 0 0 9px white;
    padding:2px;
    /* padding-left: 10px;
    padding-right: 10px; */
}

.grouplistbtns {
    text-align: center;
    width: 100%;
    position: relative;
    border: 3px solid transparent;
    border-radius: 16px;
    background: linear-gradient(34deg, rgb(111, 111, 136) 8%, rgb(48, 48, 80) 38%, rgb(33, 54, 58) 78%, rgb(129, 61, 61) 100%);
    background-clip: content-box;
    /* just to show box-shadow still works fine */
    box-shadow: 0 3px 9px rgb(139, 82, 125), inset 0 0 9px white;
    padding:2px;
    /* padding-left: 10px;
    padding-right: 10px; */
}

#groupbtnsdiv {
    display: flex;
    justify-content: left;
    align-items: center;
}

.grouplist{
    display:grid;
    list-style: none;
    grid-template-columns: 30% 70%;
}

#creategroupbtn {
    margin: 2%;
}

#adminBody {
    background-color: white;
    color: black;
}

#tableDiv{

}

.table {
    text-align: center;
}

.my-custom-scrollbar {
    position: relative;
    width: 100%;
    height: 250px;
    overflow: auto;
  }
.table-wrapper-scroll-y {
    display: block;
 }

#div-scrollbar{
    height: 430px;
    border: 2px solid grey;
    border-radius: 5px;
    background-color: whitesmoke;
}

#centerDiv{
   display: flex;
   justify-content: center; 
}

.alluser-image{
    border-radius: 100%;
    height: 80px;
    width: 80px;
}

#gridDiv {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.allusers {
    display: grid;
    grid-template-columns: 80px auto;
    grid-gap: 25px;
    border-top: 5px solid rgb(6, 182, 144);
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 10px;
    height: fit-content;
    width: fit-content;
    margin-top: 20px;
    margin-left: 20px;
    margin-bottom: 20px;
    background-color: white;
}

.allgroups {
    border-top: 5px solid rgb(6, 182, 144);
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 10px;
    height: fit-content;
    width: fit-content;
    margin: 40px;
    background-color: white;
}

.allposts-dp {
    height: 50px;
    width: 50px;
    border-radius: 100%;
}

.allposts-image {
    height: 500px;
    width: 500px;
    border-radius: 5%;
}

.allposts{
    border-top: 5px solid rgb(6, 182, 144);
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 20px;
    height: fit-content;
    width: fit-content;
    margin: 40px;
    background-color: white;
}

#postDiv {
    width: min-content;
}

#pageDiv {
    color: black;
    border-top: 5px solid rgb(6, 182, 144);
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 20px;
    height: fit-content;
    width: fit-content;
    background-color: white;
    display: grid;
    grid-template-columns: auto 100%;
    grid-gap: 20px;
}

#pageImage {
    height: 150px;
    width: 150px;
    border-radius: 5%;
}