.card-lay{
    display:grid;
    list-style: none;
    grid-template-columns: 10% 30% 30% 20%;
}

#profiles{
    background-color: rgb(69, 70, 71);
    background-clip: border-box;
    /* just to show box-shadow still works fine */
    box-shadow: 8px 10px 8px rgb(238, 214, 3), inset 0 0 9px white;
    border-radius: 5px;
    position:relative;
    width:60%;
}
#profile{
    text-align: center;

}
.images{
    margin-top:45px;
    width:50px;
    height:50px;
    position:relative;
    border-radius: 50%;
    margin-right: 10px;

}


.card-text{
    margin-top:48px;
}


.name{
    margin-top:15px;

}

.small-text{
    font-size: small;

}
  .follows_you{
    margin-top:15px;
    color:grey;

  }
.follows_you img{
    width:15px;
    height:15px;
    position:relative;
}

  .following {
    margin-left:30%;
    text-align: center;
    width:100%;
    position: relative;
    border: 3px solid transparent;
    border-radius: 16px;
    background: linear-gradient(34deg, rgb(111, 111, 136) 8%, rgb(48, 48, 80) 38%, rgb(33, 54, 58) 78%, rgb(129, 61, 61) 100%);
    background-clip: content-box;
    /* just to show box-shadow still works fine */
    box-shadow: 0 3px 9px rgb(139, 82, 125), inset 0 0 9px white;
    padding:2px;
}
