.postimages{
    margin-top: 15px;
    width:680px;
    height:730px;
    position:relative;
}

.postcard-lay{
    /* display:grid; */
    list-style: none;
    /* grid-template-columns: 0fr 1fr ; */
    text-align: center;

  

}

.user-info{
    display:grid;
     grid-template-columns: 70px 190px ;

}
.comments{
    border-bottom: 5px solid rgb(233, 231, 231);
    margin-bottom: 7px;

}

.postcard-lay li{
    margin-top: 10px;
}

#comments{
    text-align: right;
justify-content: right;
/* margin-left: 15%; */
}
.commentimg{
    width:45px;
    height:40px;
    position:relative;

}
.commentsuser-images{
    width:50px;
    height:50px;
    border-radius: 50px;
    position:relative;
}
