{% extends "adminBase.html" %}

{% block main %}
    <div class="container py-5">
        <h1 class="display-5">All MyBook Users</h1>
        <div id="div-scrollbar" class="table-wrapper-scroll-y my-custom-scrollbar table-responsive">
            <div id="centerDiv">
                <div id="gridDiv">
                    {% for user in allusers %}
                    <div class="allusers">
                        <div class="alluser-imageDiv"><img class="alluser-image" src="{{ user.photourl }}" alt="image" ></div>
                        <div class="alluser-info"> <a href="{{ url_for('page', id=user.userid) }}"><h4> <b>{{ user.firstname }} {{ user.lastname }}</b> </h4> <h5>@{{ user.username }}</h5></a> <h6 class="text-muted">from {{user.countryliving}}</h6></div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>     
{% endblock %}