<div class="collapse" id="post{{post.postid}}">
      <div class="modal-content">
          
          {% for comment in  comments(post.postid)  %}

         
          <div class="comments">
              <div class="commentsuser-info">
                  <li><img class="commentsuser-images" src="{{comment.photourl}}" alt="image" ></li>

                  <li><h6 class="card-title">@{{comment.username}} </h6></li>
              </div>
              
                  <!-- get image for user id and username -->
                  <li><h6 class="card-title">{{comment.commentdetail}}</h6></li>
                  <li><h6 class="card-title">{{comment.time}}</h6></li>
          </div>
          
          
          {%endfor%}

         
            <form action="{{ url_for('addcomment',postid=post.postid)}}" method="POST" enctype="multipart/form-data">
              <div class="addcomment">
              
                <li> <img class="commentsuser-images" src="{{profilepic}}" alt="image" > {{commentform.comment (class="commentinput")}}</li>
              </div>
              <div class="modal-footer">
                <button type="submit" class="btn btn-secondary" >Comment</button>
              </a>
              </div>
            </form>


            
       
          
      </div>
      

</div>

