<div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
      <div class="modal-content">
          <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          </div>
          

          
          {% for x in  comments(post.postid)  %}

         
          <div class="comments">
              <div class="commentsuser-info">
                  <li><img class="commentsuser-images" src="{{x.profilepic}}" alt="image" ></li>

                  <li><h4 class="card-title">@{{x.username}}</h4></li>
              </div>
              
                  <!-- get image for user id and username -->
                  <li><h4 class="card-title">{{x.commentdetail}}</h4></li>
                  <li><h4 class="card-title">{{x.time}}</h4></li>
          </div>
          
          {%endfor%}

         
            <form action="{{ url_for('addcomment',postid=post.postid)}}" method="POST" enctype="multipart/form-data">
              <div class="addcomment">
              
                <li> <img class="commentsuser-images" src="{{profilepic}}" alt="image" > {{commentform.comment (class="commentinput")}}</li>
              </div>
              <div class="modal-footer">
                <button type="submit" class="btn btn-secondary" >Comment</button>
              </a>
              </div>
            </form>


            
       
          
      </div>
      
  </div>
</div>

