{% extends "base.html"%}
{% block main %}
    <div id="profiles">
        <h1 class="profile">Friend List</h1>
    
        {% for friend in friends%}
            <div class="cardbod" id="card-lay" >
                <ul class="card-lay">
                    <li><img class="images" src="{{url_for('static',filename=friend.profilepic)}}" alt="image" ></li>
                    <div class="card-body" >
                        <li><a href="{{url_for('link to specific profile')}}"> </a><h4 class="card-title">{{friend.fname}}  {{friend.lname}}</h4></li>
                        <li class="card-text"><img class="smallimg" src="/static/images/location.png"> {{friend.location}}</li>
                        <li class="card-text"> <img class="smallimg" src="/static/images/gender.png">{{friend.status}}</li>
                    </div>
                </ul>
                
            </div>

        {% endfor %}
    </div>
    
{% endblock %}