{% extends "base.html"%}
{% block sideprofile %}

    {% include 'sideprofile.html' %}
{% endblock %}

{% block main %}
    <div id="profiles">
        <h1 class="profile">Friend List</h1>
    
        <div class="cardbod" id="card-lay" >
            {% for friend in friends%}
                <ul class="card-lay">
                    <li><img class="images" src="" alt="image" ></li>
                    <div>
                        <li class="follows_you"> <img class="smallimg" src="/static/images/gender.png">Follows You</li>
                        <li class="card-text name"><a href=""> <h4 class="card-title">{{friend.firstname}} {{friend.lastname}} </h4></a></li>


                    </div>
                    <li class="card-text"><img class="smallimg" src="/static/images/location.png">{{friend.country}}</li>
                    <li class="card-text "> <div class="following">Following</div> </li>
                </ul>

            {% endfor %}

           
            
        </div>
    </div>
    
{% endblock %}