{% extends "base.html" %}
{% block sideprofile %}

{% include 'sideprofile.html' %}
{% endblock %}
{% block main %}
    <div class="posts">
                
        <h1 class="profile">
            <img src="/static/images/createpost2.png" class="smallimg" data-toggle="modal" data-target="#exampleModal0" data-whatever="@mdo"/>
            <b>{{ groupname }}</b>
        </h1>
        <h6>
            <b>Group Creator:</b> @{{ creator }} <br>
            <b>Created on:</b> {{ createddate }}
        </h6>

        
            {%include 'createpost.html'%}
            {%include 'posttemplate.html'%}
        
        
    </div>
{% endblock %}
