{% extends "base.html"%}
{% block sideprofile %}

    {% include 'sideprofile.html' %}
{% endblock %}

{% block main %}
    <div id="profiles">
        <h1 id="profile">MyBook Groups</h1>
    
        <div class="cardbod" id="card-lay" >
            {% for group in groups %}    
                <ul class="card-lay">
                    <li class="card-text name"><a href=""> <h4 class="card-title">{{ group.groupname }}</h4></a></li>
                    <li class="card-text "> 
                        <form action="{{ url_for('groupposts', groupid=group.groupid) }}">
                            <button type="submit" formmethod="get" class="following">View Group</button> 
                            <button type="submit" formmethod="post" class="following">Join Group</button>
                        </form>  
                    </li>
                </ul> 
            {% endfor %}            
        </div>
    </div>
    
{% endblock %}