{% extends "base.html" %}
{% block sideprofile %}

{% include 'sideprofile.html' %}
{% endblock %}
{% block main %}
{% include 'flash_messages.html' %}
    <div class="posts">
                
        <h1 class="profile">
            <img src="/static/images/createpost2.png" class="smallimg" data-toggle="modal" data-target="#exampleModal0" data-whatever="@mdo"/>
            <b>{{ groupname }}</b>
        </h1>
        <h6>
            <b>Group Creator:</b> @{{ creator }} <br>
            <b>Created on:</b> {{ createddate }} <br>
            <div class="groupbtns"><a  id="follow" href="{{ url_for('joingroup', userID=userid, groupID=groupid) }}"  >Join Group</a></div>
            <button  id="follow" class="groupbtns" onclick="document.getElementById('id21').style.display='block'"  >View Members</button>
        </h6>

        
            {%include 'createpost.html'%}
            {%include 'posttemplate.html'%}
            {% include 'memberslist.html' %}
        
        
    </div>
{% endblock %}
