{% for post in posts%}
                <div class="cardbod" id="postcard-lay" >
                    <br>
                    <div class="user-info">

                        <li><a href="{{url_for('profile',userid=post.userid)}}"> <h4 class="card-title"><img class="commentsuser-images" src="{{post.photourl}}" alt="" > @{{post.username}}</h4></a></li>
                       <li> <div class="dropdown">
                            <img src="/static/images/downarrowoff.png" class=" btn dropdown-toggle imgsize" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                       </img>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                               
                              <a class="resp-sharing-button__link dropdown-item" href="https://www.facebook.com/sharer/sharer.php?u=jdizzle.jordanne&quote={{post.content}}" target="_blank" aria-label="">
                                <div class="resp-sharing-button resp-sharing-button--facebook resp-sharing-button--small">
                                  <div aria-hidden="true" class="resp-sharing-button__icon resp-sharing-button__icon--solid">
                                    Share to Facebook
                                  </div>
                                </div>
                              </a>
                              
                              <a class="resp-sharing-button__link dropdown-item" href="https://twitter.com/intent/tweet/?text={{post.content}}&amp;url=urlToBeReplaced" target="_blank" aria-label="">
                                <div class="resp-sharing-button resp-sharing-button--twitter resp-sharing-button--small">
                                    <div aria-hidden="true" class="resp-sharing-button__icon resp-sharing-button__icon--solid">
                                        Share to twitter                                    </div>
                                </div>
                            </a>
                            </div>
                          </div>
                        </li>
                    </div>
                    
                <ul class="postcard-lay">
                    {%if (post.content.startswith("https://placeimg.com")) or (post.content.startswith("/static/uploads/"))%}
                    <img class="postimages" src="{{post.content}}" alt="" >
                        {%else%}
                            <li>{{post.content}}</li>
                        {%endif%}
                    </ul>
                    
                    <div id="comments">
                        {% if getlikes(post.postid,userid)==1%}
                              <a href="{{url_for('unlikepost',postid=post.postid,userid=userid)}}" ><img class="commentimg blue" src="/static/images/likes.png"> {{getlikescount(post.postid)}} likes</a>
                              <a class="" data-toggle="collapse" href="#post{{post.postid}}" role="button" aria-expanded="false" aria-controls="collapseExample">
                                <img class="commentimg" src="/static/images/comments.png" >
                              </a>
                          {% else %}
                            <a href="{{url_for('likepost',postid=post.postid,userid=userid)}}" id="unlike" class="white"><img class="commentimg" src="/static/images/likes.png">{{getlikescount(post.postid)}} likes</a>
                            <a class="" data-toggle="collapse" href="#post{{post.postid}}" role="button" aria-expanded="false" aria-controls="collapseExample">
                              <img class="commentimg" src="/static/images/comments.png" >
                            </a>  
                          </form>
                        {% endif %}
                        
                       
                        
   
                    </div>
                    <!-- load comments for posts -->

                    {%include 'comments.html'%}
                    
                    
                    
                    
                                
                </div>
            
                
            
            {% endfor %}