<nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top">
  <a class="navbar-brand" href="{{ url_for('posts') }}"><img class="logoimg" src="/static/images/logo3.png"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent header" >
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="{{ url_for('myprofile') }}">MyProfile <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="{{ url_for('posts') }}">MyNewsFeed <span class="sr-only">(current)</span></a>
      </li>
     
      <li class="nav-item active">
        <a class="nav-link" href="{{ url_for('friendlist',userid=userid) }}">MyFriends</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="{{ url_for('grouplist') }}">Groups</a>
      </li>
     
      
    </ul>
  </div>
  <form class="form-inline" action="{{ url_for('searchuser')}}" method="POST" enctype="multipart/form-data">
    <div class="input-group">
      <div class="input-group-prepend">
        <span class="input-group-text" id="basic-addon1">@</span>
      </div>

      {{searchform.username (class="form-control")}}
      <!-- <input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1"> &emsp; -->

      <button class="btn  my-2 my-sm-0  btn-secondary" type="submit">Search</button>

    </div>
    <div class="dropdown">
      <a class="btn btn-primary dropdown-toggle" href="https://example.com" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
       <img id="accountsettings" src="/static/images/gender.png"/>
      </a>
    
      <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
        <a class="dropdown-item" href="#">Settings</a>
        <a class="dropdown-item" href="{{ url_for('logout') }}">Log Out</a>
        
      </div>
    </div>
  </form>
 
</nav>
