

  <div class="w3-container">
   
    <div id="id21" class="w3-modal">
     <div class="w3-modal-content w3-card-4 w3-animate-zoom">
      <header class="w3-container w3-blue"> 
       <span onclick="document.getElementById('id21').style.display='none'" 
       class="w3-button w3-blue w3-xlarge w3-display-topright">&times;</span>
       <h2>Group Members</h2>
      </header>
    
      {% for member in groupmembers%}
          <ul class="card-lay">
              <li><img class="images" src="{{member.photourl}}" alt="image" ></li>
              <div>
                  <li class="card-text name"><a href="{{url_for('profile',userid=member.userid)}}"> <h4 class="card-title">{{member.firstname}} {{member.lastname}} </h4></a></li>
                  <li class="card-text name"><a href="{{url_for('profile',userid=member.userid)}}"> <h6 class="card-title">@{{member.username}} </h6></a></li>
              </div>
              <li class="card-text"><img class="smallimg" src="/static/images/location.png">{{member.countryliving}}</li>
              
              <li class="card-text ">Content {{member.status}}</li>
          </ul>

            {% endfor %}
    
      <div class="w3-container w3-light-grey w3-padding">
       <button class="w3-button w3-right w3-white w3-border" 
       onclick="document.getElementById('id21').style.display='none'">Close</button>
      </div>
     </div>
    </div>
    
    </div>

     