{% extends "base.html"%}
{% block sideprofile %}

    {% include 'sideprofile.html' %}
{% endblock %}

{% block main %}
{% include 'flash_messages.html' %}
    
    <div id="profiles">
        <h1 id="profile">MyGroups List</h1>
        
        <div class="cardbod" id="card-lay" >
            <div id="creategroupbtn">
                <button type="button" class="btn btn-primary" onclick="document.getElementById('creategroup').style.display='block'">Start New Group</button>
            </div>
            {% for group in groups %}    
                <ul class="grouplist">
                    <li class="card-text name"><a href="{{ url_for('groupposts', groupid=group.groupid) }}"> <h4 class="card-title">{{ group.groupname }}</h4></a></li>
                    <li class="card-text "> 
                        <a href="{{ url_for('groupposts', groupid=group.groupid) }}" class="grouplistbtns">View Group</a> 
                    </li>
                </ul> 
            {% endfor %}            
        </div>
    </div>
    {% include 'creategroup.html' %}
{% endblock %}