    <div class="sidelay" id="lays" >
            <ul id="info_list">
                <a href="{{url_for('editprofile')}}"><i class="fa fa-2x fa-edit "></i></a>

                <li><img id="profile-pic" src="{{profilepic}}" alt="image" type="button" onclick="document.getElementById('id01').style.display='block'" class="w3-button w3-black"></li>
<br>
                <div id="userss_info">
                    <li class="li-text"><h4 class="card-title"> {{fname}}  {{lname}}</h4></li>
                    <li class="li-text"> <img class="smallimg" src="/static/images/gender.png"> @{{username}}</li>

                    <li class="li-text"> <img class="smallimg" src="/static/images/email.png"> {{email}}</li>
                    <li class="li-text"> <img class="smallimg" src="/static/images/location.png">{{location}}</li>
                    <li class="li-text"> <img class="smallimg" src="/static/images/dateadded.png"> Joined on {{created_date}} Sept,2019</li>

                </div>
            </ul>
           
            <br><br>
            <div class="aboutme">
                <h3>About Me</h3>
                <p class="li-text"> {{biography}}</p>
                <br><br><br>
                <div id="follow_er_ing">
                    <li>Friend Count</li>
                    <a  href="{{url_for('friendlist',userid=userid)}}">{{following}}</a>
                </div>
               
            </div>
            
      

            <!-- list all posts for this person -->
            
            <!-- {%include 'addphoto.html'%} -->
        
            <!-- {% include 'addphoto.html' %} -->
            {% include 'addphoto.html' %}
          

    </div>
   
   
   
