    <div class="sidelay" id="lays" >
        test
            <ul id="info_list">

                <li><img id="profile-pic" src="/static/images/background.jpg" alt="image" ></li>
                <div  >
                    <li class="li-text"><h4 class="card-title"> {{fname}}  {{lname}}</h4></li>
                    <li class="li-text"> <img class="smallimg" src="/static/images/gender.png"> @{{username}}</li>

                    <li class="li-text"> <img class="smallimg" src="/static/images/email.png"> {{email}}</li>
                    <li class="li-text"> <img class="smallimg" src="/static/images/location.png">{{location}}</li>
                    <li class="li-text"> <img class="smallimg" src="/static/images/dateadded.png"> Joined on {{created_date}} Sept,2019</li>

                </div>
            </ul>
            <div class="aboutme">
                <h3>About Me</h3>
                <p class="li-text"> {{biography}}</p>
                <div id="follow_er_ing">
                    <li>FOLLOWERS</li>
                    <li>FOLLOWING</li>
                    <a  >{{followers}}</a>
                    <a  >{{following}}</a>
                </div>
               
            </div>

            <!-- list all posts for this person -->
            
            

        
    </div>
   

