{% extends 'formBase.html' %}

{% block main %}

<div class="formdiv">
  <h1 class="page-header">
    SignUp
  </h1>
  {% include 'flash_messages.html' %}
    <form id="signupForm" class="formf"action="{{ url_for('signup')}}" method="POST" enctype="multipart/form-data">
      {# Add the file upload field as you learnt for Flask-WTF #}
      {{form.csrf_token}}
      <div class='form-group'>
        {{form.fname.label (class="bold") }} 
        {{form.fname (class="form-control")}}
      </div>
    
      <div class='form-group'>
        {{form.lname.label (class="bold") }} 
        {{form.lname (class="form-control")}}
      </div>
      <div class='form-group'>
        {{form.gender.label (class="bold") }}
        {{form.gender (class="form-control",placeholder="Select Gender")}}
      </div>
      <div class='form-group'>
        {{form.email.label (class="bold") }}  
        {{form.email (class="form-control")}}
      </div>
     
      
    
      <div class='form-group'>
        {{form.password.label}} 
        {{form.password (class="form-control ")}}
      </div>
      <div class='form-group'>
        {{form.repassword.label}} 
        {{form.repassword (class="form-control ")}}
      </div>
      <div class="span-col">
        <button type="submit" name="submit" class="btn btn-primary btn-block">Next</button>
        <br><a href="{{ url_for('login') }}">Already have an account? Click here to log in.</a>
      </div>
    </form>
</div>

{% endblock %}